*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* test  */
:root{
    --Paragraph : #C3C3C3;
    --Balck-basic : #3F3F3F;
    --Low-Highlighted : #9F9F9F;
    --disabled : #FFFFFF;
    --Blue-color : #274188;
    --Yellow-color: #F6BD2A;
    --Section-color : #F4F4F4;
    --Athens-Gray:   #F0F0F1;
    --Mercury  : #E6E6E6;

}
button{
  border: none;
}
.highlited-text{
  color: var(--Blue-color);
}
.navbar-toggler{
  border: none !important;
}
.navbar-toggler:focus{
  /* display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; */
}

.nav .nav-link:hover{
}

.yellow-underline{
  text-decoration: underline;
  text-decoration-color: #f6bd25;
  text-decoration-thickness: 10px;
}
.yellow-border-bottom{
  border-bottom: 7px solid var(--Yellow-color);
}
.black-text{
  color: #212728eb;
  font-weight: 500;
}

.action-btn-active{
  background: var(--Blue-color) !important;
  color: var(--disabled);
  padding: 0.9rem 2rem;
  text-decoration: none;
  border-radius: 8px;
  /* margin-top: 45px; */
  font-weight: 500;
  cursor: pointer;
} 
.action-btn-active:hover{
  background: var(--Yellow-color)  !important;
  color: var(--disabled) !important;
}

.action-btn-disable{
  background: #e2dede  !important;
  color: var(--Blue-color);
  padding: 0.9rem 2rem;
  text-decoration: none;
  border-radius: 8px;
  /* margin-top: 45px; */
  font-weight: 500;
  cursor: pointer;
} 
.action-btn-disable:hover{
  background: var(--Yellow-color)  !important;
  color: var(--disabled) !important;
}

a:hover {
  color: #fcb302 !important;
}

.error {
  color: red;
}
/* scroll animation  */
.js [data-entrance] {
  visibility: hidden;
}
/* scroll animation end  */

@font-face {
    font-family: 'Manrope';  /* Name of the font */
    src: url('./asset/fonts/Manrope.ttf') format('truetype');  /* Path and format of the font file */
  }
  
  @font-face {
    font-family: 'Manrope';  /* Name of the font */
    src: url('./asset/fonts/Manrope.ttf') format('truetype');  /* Path and format of the font file */
  }

  body {
    font-family: 'Manrope', sans-serif;  
  }

h1, h2{
   font-family: 'Manrope';
}


/* navbar  */
.navbar{
    background-color: var(--Athens-Gray);
    /* border-bottom: 50px solid var(--Yellow-color); */
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.20);

}
.navbar-nav .nav-item{
  /* font-weight: bold; */
padding: 10px;
}
.nav-item .nav-link {
  font-size: 18px;
}
/* End navbar  */

/* -----------------Hero section---------------------------------------- */
.polaris-hero{
  padding-top: 120px;
  background-color: var(--Athens-Gray);
}

.polaris-hero-header h1{
  width: 45%;
  text-align: center;
  margin: 0px auto;
  font-weight: bold;
  letter-spacing: -1.35px;
}
/* --------------End Hero section---------------------- */



/* ------------Track Your Business Finance --------  */
.polaris-track{
  padding: 60px;
  background-color: var(--disabled);
}
.polaris-track .polaris-track-header h1{
  width: 100%;
  text-align: center;
  margin: 0px auto;
  font-weight: bold;
  letter-spacing: -1.35px;
  padding-bottom: 60px;
}
.polaris-track .polaris-track-header h2{
  width: 100%;
  text-align: center;
  margin: 0px auto;
  font-weight: bold;
  letter-spacing: -1.35px;
  padding-bottom: 60px;
}
.polaris-track .track-left h2{
  color: var(--Blue-color);
  width: 60%;
}

.polaris-track .track-right img{
  float: inline-end;
  margin-right: 15px;
}
/* ------------End Track Your Business Finance --------  */


/* ---------process-------- */
.process-section{
  padding: 2rem 0;
}
.process {
  padding: 0.5rem 0px;
  background-color: var(--Athens-Gray);
}
.process h5{
  color: var(--Blue-color);
}
.wide,
.easy,
 .fast
 {
  padding: 30px 0px;
  background-color: var(--bg-cream);
  border-radius: 15px;

}

.wide h5{
  padding-top: 20px;
  width: 30%;
  margin: 0px auto;
  
}
.easy h5{
 padding-top: 20px;
 width: 50%;
 margin: 0px auto;
}
 .fast h5{
  padding-top: 20px;
  width: 50%;
  margin: 0px auto;
 }

/* -------End Benifits--------- */

/* -------how --------- */
.how-left{
  margin-top: 3rem;
  padding-top: 3rem;
}
.how-left h2{
  color: var(--Blue-color);
}
/* -------End how --------- */



/* -------------Results ------------ */
.polaris-results{
  background-color: var(--Athens-Gray);
  padding: 50px;
  padding-top: 20px;
}
.polaris-results .polaris-results-header h1{
  width: 100%;
  text-align: center;
  margin: 0px auto;
  font-weight: bold;
  letter-spacing: -1.35px;
  padding-bottom: 60px;
}
.polaris-results .polaris-results-header h2{
  width: 100%;
  text-align: center;
  margin: 0px auto;
  font-weight: bold;
  letter-spacing: -1.35px;
  padding-bottom: 60px;
}

.result-card {
  background-color: #ffffff00;
}
.result-card .score{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: 0px auto;
  border: 4px solid var(--Blue-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.score h3{
  font-weight: bold;
}
.result-card h4 {
margin: 15px 0px;
}
.result-card p{
  padding: 0px 0px 18px 0px;
}

.result-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/* -------------End Results ------------ */


/* -------Download ------  */
.polaris-download{
  background-color: var(--disabled);
}
.download-section .download-icon{
  height: 16px;
  margin: 0px 3px 4px;
}
/* ------------ End downlod ------- */

/* --------------Secret ----------- */
.polaris-secret{
  padding: 60px;
  background-color: var(--Athens-Gray);
}
.polaris-secret .polaris-secret-header h1{
  width: 60%;
  text-align: center;
  margin: 0px auto;
  font-weight: bold;
  letter-spacing: -1.35px;
  padding-bottom: 30px;
}
.polaris-secret .polaris-secret-header h2{
  width: 60%;
  text-align: center;
  margin: 0px auto;
  font-weight: bold;
  letter-spacing: -1.35px;
  padding-bottom: 30px;
}
.secret-list {
  list-style: none;
  padding: 0 !important;
  
}
.secret-list img{
  height: 12px;
  margin: 0px 7px 0px 0px;
}

.secret .secret-list li{
  color: var(--Blue-color);
  font-weight: 500;
  /* margin-bottom: 2px; */
  margin: 0px 0px 0px 0px;
}
.secret .person-name{
  color: var(--Blue-color);
}
.secret .tag-name{
color: var(--Yellow-color);
}
.secret {
  padding: 3rem;
  margin-top: 3rem;
}
/* --------end secret --------- */



/* -------Need to know -----  */
.polaris-need-to-now{
  background-color: var(--disabled);
  padding: 50px;
  padding-top: 20px;

}
.polaris-need-to-now .polaris-need-to-now-header h1{
  width: 40%;
  text-align: center;
  margin: 0px auto;
  font-weight: bold;
  letter-spacing: -1.35px;
  padding-bottom: 60px;
}
.polaris-need-to-now .polaris-need-to-now-header h2{
  width: 40%;
  text-align: center;
  margin: 0px auto;
  font-weight: bold;
  letter-spacing: -1.35px;
  padding-bottom: 60px;
}
.need-to-now-card {
  background-color: var(--Blue-color);
  color: white;
  padding: 48px;
  border-radius: 8px;
  min-height: 351px;
  
}
.need-to-now-card .score{
  border-radius: 50%;
  margin: 0px auto;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.score h3{
  font-weight: bold;
}
.need-to-now-card h4 {
  margin: 31px 0px;
  font-weight: 400;
}
.need-to-now-card p{
  margin-bottom: 0px !important;
  margin-top: 31px;
}

.expenses, .cash-flow{
  background-color: var(--Yellow-color);
}
/* -------End Need to know -----  */

/* ----------Comparsion ---------- */
.comparison-header{
  background: var(--Blue-color) !important;
  padding: 20px;
  color: var(--disabled);
}


.comparison{
  background-color: var(--Athens-Gray);
  padding: 20px;
}
.comparison img{
  text-align: center;
  max-height: 18px;
}
/* ----------End Comparsion ---------- */


/* -------------Contact form ---------  */
.form-control{
  background-color: #F4F4F4 !important;
  border: none !important;
}
.contact-form{
  padding: 1rem ;
  margin-right: auto ;
  margin-left: auto ;
  width: 75% ;
}
/* -------------End Contact form ---------  */





/* --------------- */

.footer{
  background-color: var(--disabled);
}
.sub-footer{
  background-color: var(--disabled);
}
.copyright{
  color: var(--Balck-basic);
}
.sub-footer .nav-link{
  color: var(--Primary-c) !important;
}
.sub-footer .nav-link:hover{
  color: var(--Secondary) !important;
}
.Subscribe{
  background-color: var(--Primary-c) !important;
}
.heart{
  color: var(--Primary-c);
}
.text-light{
  color: var(--Balck-basic);
}

.footer p{
  color: var(--Balck-basic) !important;
}
address{
  color: var(--Black-basic) !important;
}
.getintouch a{
  color: var(--Black-basic) !important;
}

.getintouch a:hover{
  color: var(--Primary-c) !important;
}
.list-unstyled li a{
  color: var(--Black-basic) !important;
}

.list-unstyled li a:hover{
  color: var(--Yellow-color) !important;
}

.location-dropdown {
  background-color: var(--Primary-c) !important; 
}

.nav .nav-item{
  background-color: #F4F4F4ca;
  border-radius: 8px;
  padding: 3px;
  margin: 2px;
}

.privacy .nav-item{
  background-color: #ff000000 !important;
}

.nav .nav-item svg{
  color: var(--Blue-color);
}




 @media (max-width: 1200px) {
  .nav-download-icons{
    display: none !important;
    }
}

/* responsive  */
.nav-download-icons-mobile{
  display: none;
}
/* For extremely small screen devices (595px and below) */
 @media only screen and (max-width: 595px) {
.nav-book-a-demo-mobile{
  display: block !important;
}
  
.video-container iframe{
  width: 382px;
  height: 215px;
}

.nav-download-icons{
display: none !important;
}

.polaris-hero{
  padding-top: 102px;
}

.polaris-hero-header h1{
  width: 93%;
}
.polaris-track .track-left h2{
  width: 100%;
}
.yellow-underline {
  text-decoration-thickness: 4px;
}
.polaris-track .track-right img{
  float: none;
    margin-right: 0px;
}
.polaris-track .polaris-track-header h2{
  padding-bottom: 22px;
}
.polaris-track{
  padding: 42px;
}
.wide, .easy, .fast{
  padding: 18px 0px;
}
.process-section{
  margin: 0px !important;
}
.process{
  padding: 0.1rem 0px;
}
.how-left{
  padding: 2rem;
  padding: 0;
}
.how-right{
  padding-bottom: 2rem;
}
.polaris-results{
  padding-top: 0.1rem;
  padding-bottom: 0px;
}
.polaris-results .polaris-results-header h2{
  padding-bottom: 30px;
}
.result-card{
  height: 316px;
}
.polaris-secret .polaris-secret-header h2{
  width: 100%;
  padding-bottom: 0px;
}
.polaris-secret{
  padding: 45px;
}
.secret{
  padding: 1.2rem 0rem;
  margin: 0rem;
}
.polaris-need-to-now .polaris-need-to-now-header h2{
  width: 100%;
  padding-bottom: 30px;
}
.polaris-need-to-now{
  padding-top: 0;
  padding: 0;
}
.comparison img{
  width: 20px;
}
.comparison{
  padding: 9px 4px;
}
.book-a-demo{
  margin-top: 2rem;
}
.contact-form{
  width: 100%;
  padding: 0px;
}
.comp-polaris{
  font-size: 10px;
    position: relative;
    top: 7px;
    right: -5px;
}
.comp-others{
  font-size: 10px;
    position: relative;
    top: 7px;
    right: -13px;
}
.footer-section{
  text-align: center;
}

}
.nav{
  display: flex !important;
  justify-content: center !important;
}
 
.nav-book-a-demo-mobile .action-btn-active {
  padding: 7px 13px;
    font-weight: 400;
    padding-bottom: 8px;
    font-size: small;
}
.action-btn-active{
  padding: 0.9rem 1rem;
}
.wide h5{
  width: 40%;
}
.easy h5{
  width: 61%;
}
.fast h5{
  width: 66%;
}


/* .navbar-nav .nav-item{
  padding: 0px;
} */

/* @media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
      flex-direction: row;
      font-size: 8px !important;
      margin: 0px;
  }
} */

@media only screen and (min-width: 600px) and (max-width: 1368px) {
  .nav-item{
    font-size: 0.8rem;
    margin: 0px;
  }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {

}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  
 
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {

}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {

}
